<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Radio">
		<classes>
			<class name="TestCases.ForgotLinkTest" />
			<class name="TestCases.LoginTest" />
			<class name="TestCases.MasterTest" />
			<class name="TestCases.MandatoryFieldTest" />
			<class name="TestCases.MaterialTest" />
			<!--<class name="TestCases.Dropdown" />
			<class name="TestCases.IconTest" />
			<class name="TestCases.UnitTest1" /> -->
		
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

 